@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.otf');
}

*{
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  height: 100vh; /* Altura inteira 100vh*/
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}